/* 
Selector -> etiqueta html o un id o una clase 
nos va permitir asignarles propiedades y valores
*/

body {
    background-color: #1c165a; /* #1c1c1c*/
    color: #ffffff; 
    font-family: "Playwrite DE Grund", cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenido {
    max-width: 600px;
    margin: 50px auto;
}

h1{
    color: #ffcc00;
}

a{
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: azure;
}

p {
    margin-bottom: 20px;
}

.hasttag {
    color: #00ccc6;  
}

.prueba {
    color: rgb(223, 113, 50);
}